<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">

	<context:component-scan base-package="kr.or.kosta.pl.vo, kr.or.kosta.pl.controller, kr.or.kosta.pl.service, kr.or.kosta.pl.dao"/>
	<mvc:annotation-driven/>
	
	<mvc:view-controller path="/index.do" view-name="/WEB-INF/index.jsp"/>
	
	<bean name="dataSource" class="org.apache.tomcat.dbcp.dbcp2.BasicDataSource"
				p:driverClassName="oracle.jdbc.driver.OracleDriver"
				p:url="jdbc:oracle:thin:@127.0.0.1:1521:XE"
				p:username="pline"
				p:password="2222"
				p:maxTotal="100"/>
	<bean name="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"
				p:configLocation="/WEB-INF/config/mybatis-config.xml"
				p:dataSource-ref="dataSource"/>
	<bean name="SqlSession" class="org.mybatis.spring.SqlSessionTemplate" c:sqlSessionFactory-ref="sqlSessionFactory"/>
	
	<!-- email sender -->
    <bean id="mailSender" class ="org.springframework.mail.javamail.JavaMailSenderImpl" >
        <property name="host" value="smtp.gmail.com" />
        <property name="port" value="587" />
        <property name="defaultEncoding" value="utf-8"/>
        <property name="username" value="zzangnara52@gmail.com" />
        <property name="password" value="wjdrlf911!" />
       
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.starttls.enable">true</prop>
                <prop key="mail.smtp.auth">true</prop>
            </props>
        </property>
    </bean>
    
    <bean id="email" class="kr.or.kosta.pl.vo.Email"/>
    
    <bean id="emailSender" class="kr.or.kosta.pl.vo.EmailSender"/>
    
 	<!-- Transaction 처리 -->
	<!-- Transaction Manager 등록 : DataSourceTransactionManager - mybatis사용하는 DataSource 등록한다.-->
	<bean name="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
	p:dataSource-ref="dataSource"/>
	<!-- 
		tx namespace 추가
		tx:annotation-driven : transaction-manager추가.
	 -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
    <!-- multipartResolver를 Bean에 등록 -->
    <bean name="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"></bean>
    
    <bean class="org.springframework.web.servlet.view.BeanNameViewResolver" p:order="1"></bean>
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" p:order="2"></bean>
    
    <!-- messageSource bean 등록 -->
   <bean name="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource"
        p:basename="common.util.error_message"/>
    
</beans>
